@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal {
    animation: reveal 0.5s ease-in-out forwards;
}

.reveal.delay-500 {
    transform: scale(0, 0);
    animation-delay: 0.25s;
}

@keyframes reveal {
    0% {
        transform: scale(0, 0.01)
    }
    50% {
        transform: scale(1, 0.01)
    }
    100% {
        transform: scale(1,1)
    }
}
